<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QRCodeApp"
        tools:targetApi="31">
        <activity
            android:name=".PremiumReminderActivity"
            android:exported="false"
            android:label="@string/title_activity_premium_reminder"
            android:theme="@style/Theme.QRCodeApp" />
        <activity
            android:name=".DialogModal"
            android:exported="false"
            android:label="@string/title_activity_dialog_modal"
            android:theme="@style/Theme.QRCodeApp" />
        <activity
            android:name=".widget.creator.QrWidget"
            android:exported="false"
            android:label="@string/title_activity_qr_creator_widget"
            android:theme="@style/Theme.QRCodeApp" />
        <activity
            android:name=".mainActivity.pages.accountPage.ScannedQrCodeInspectActivity"
            android:exported="false"
            android:label="@string/title_activity_scanned_qr_code_inspect"
            android:theme="@style/Theme.QRCodeApp" />
        <activity
            android:name=".mainActivity.pages.accountPage.ScannedCodesActivity"
            android:exported="false"
            android:label="@string/title_activity_scanned_codes"
            android:theme="@style/Theme.QRCodeApp" /> <!-- <activity -->
        <!-- android:name=".mainActivity.pages.scanPage.ScannerActivity" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_scanner" -->
        <!-- android:theme="@style/Theme.QRCodeApp" /> -->
        <activity
            android:name=".mainActivity.pages.accountPage.CreatedQrCodeInspectActivity"
            android:exported="false"
            android:label="@string/title_activity_qr_code_inspect"
            android:theme="@style/Theme.QRCodeApp" />
        <activity
            android:name=".mainActivity.pages.accountPage.CreatedCodesActivity"
            android:exported="false"
            android:label="@string/title_activity_created_codes"
            android:theme="@style/Theme.QRCodeApp" /> <!-- <activity -->
        <!-- android:name=".ReminderActivity" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_reminder" -->
        <!-- android:theme="@style/Theme.QRCodeApp" /> -->
        <!-- <activity -->
        <!-- android:name=".mainActivity.pages.accountPage.LoginPageActivity" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_login_page" -->
        <!-- android:theme="@style/Theme.QRCodeApp" /> -->
        <!-- <activity -->
        <!-- android:name=".createQRActivity.pages.logoChooseActivity.LogoChoosePage" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_logo_choose_page" -->
        <!-- android:theme="@style/Theme.QRCodeApp" /> -->
        <activity
            android:name=".createQRActivity.pages.shapePage.ShapeChoosePage"
            android:exported="false"
            android:label="@string/title_activity_shape_choose_page"
            android:theme="@style/Theme.QRCodeApp" /> <!-- <activity -->
        <!-- android:name=".createQRActivity.pages.ColorButton" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_color_button" -->
        <!-- android:theme="@style/Theme.QRCodeApp" /> -->
        <!-- <activity -->
        <!-- android:name=".createQRActivity.pages.backgroundPage.BackgroundChooseActivity" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_background_choose" -->
        <!-- android:theme="@style/Theme.QRCodeApp" /> -->
        <!-- <activity -->
        <!-- android:name=".createQRActivity.pages.colorsAndBackgroundPage.ColorChooseActivity" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_color_choose" -->
        <!-- android:theme="@style/Theme.QRCodeApp" /> -->
        <activity
            android:name=".createQRActivity.CreateQRFinalActivity"
            android:exported="false"
            android:label="@string/title_activity_create_qrfinal"
            android:theme="@style/Theme.QRCodeApp" />
        <activity
            android:name=".createQRActivity.CreateQRMainActivity"
            android:exported="false"
            android:label="@string/title_activity_create_qrmain"
            android:theme="@style/Theme.QRCodeApp" /> <!-- <activity -->
        <!-- android:name=".mainActivity.pages.accountPage.AccountPage" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_account_page" -->
        <!-- android:theme="@style/Theme.QRCodeApp" /> -->
        <!-- <activity -->
        <!-- android:name=".mainActivity.pages.mainPage.MainPageActivity" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_main_page" -->
        <!-- android:theme="@style/Theme.QRCodeApp" /> -->
        <activity
            android:name=".mainActivity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.QRCodeApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.qrcodeapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files_path" />
        </provider>

        <receiver
            android:name=".widget.creator.QrWidgetReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_meta" />
        </receiver>
    </application>

</manifest>